:root{
    --white: #ffffff;
    --black: #000000;
    --stretch-limo: #2C2D35;
    --molten-ice: #E1EDE6;
    --mudroch: #598D66;
    --sandstone-grey-green: #86928B;
    --forest-serenade: #376B44;
    --white-smoke: #F4F6F5;
    --splash-down: #D4E8D9;
    --plastic-lime: #EEDB6D;
    --calabash: #FAEB97;
    --nataneyu-gold:#A38314;
    --buried-gold: #D9B949;
}