:root{
    --white: #ffffff;
    --black: #000000;
    --stretch-limo: #2C2D35;
    --molten-ice: #E1EDE6;
    --mudroch: #598D66;
    --sandstone-grey-green: #86928B;
    --forest-serenade: #376B44;
    --white-smoke: #F4F6F5;
}