.new-collection {
  background-image: url('../../../images/../images/new-collection/pic_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;

  font-family: Raleway, sans-serif;
  font-weight: 500;
}

.new-collection__container {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding-top: 70px;
  padding-bottom: 70px;
}

.new-collection__title {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 20px;
}

.new-collection__title img {
  width: 80px;
  height: auto;
}

.new-collection__title h2 {
  font-size: 40px;

  color: var(--white-smoke);
  line-height: 1;
}

.new-collection__text {
  display: flex;
  flex-direction: column;
  gap: 25px;

  max-width: 540px;
  margin-bottom: 60px;

  font-size: 18px;
  color: var(--white-smoke);
  line-height: 1.5;
}

.new-collection__btn {
  padding: 21px 60px;

  font-size: 20px;
  color: var(--stretch-limo);

  background-color: var(--plastic-lime);
  border: 1px solid var(--plastic-lime);
}

.new-collection__btn:hover {
  background-color: var(--calabash);
  border: 1px solid var(--calabash);
}

.new-collection__btn:focus {
  border: 1px solid var(--nataneyu-gold);
}

.new-collection__btn:active {
  background-color: var(--buried-gold);
}
